# Libraries

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

# Files

In [2]:
csv_dir = "Csv/"
data_dir = "Data/"

In [3]:
files = [file for file in os.listdir(csv_dir) if file.startswith("t") and not file.endswith("october28.csv")]
# files[:5]

# Set months and days to loop over

In [4]:
months = ["march", "april", "may", "june", 
          "july", "august", "september", "october", "november", "december", "january", "february"] # from march (start dataset)

In [5]:
# added a "_" so we can separate 1 from 11 (both start with a "1")
days = [str(number+1)+"_" if number+1<10 else str(number+1) for number in list(range(31))] 
# days

# Loop over months --> days

In [6]:
sorted_dates_list = []
for month in months:
    month_files = [file for file in files if file[10:].startswith(month)]
    l_month = len(month)
    for day in days:
        try: #try except needed because not all days exist (e.g. no 31 of april)
            next_file = [month_file for month_file in month_files if month_file[10+l_month:10+l_month+2] == day][0]
            sorted_dates_list.append(next_file)
        except:
            print(f"no {month}_{day}")

no march_1_
no march_2_
no march_3_
no march_4_
no march_5_
no march_6_
no march_7_
no march_8_
no march_9_
no march_10
no march_11
no march_12
no march_13
no march_14
no march_15
no march_16
no march_17
no march_18
no march_19
no march_29
no april_31
no june_31
no september_31
no october_27
no november_31
no january_20
no january_21
no january_22
no january_23
no january_24
no january_25
no january_26
no january_27
no january_28
no january_29
no january_30
no january_31
no february_1_
no february_2_
no february_3_
no february_4_
no february_5_
no february_6_
no february_7_
no february_8_
no february_9_
no february_10
no february_11
no february_12
no february_13
no february_14
no february_15
no february_16
no february_17
no february_18
no february_19
no february_20
no february_21
no february_22
no february_23
no february_24
no february_25
no february_26
no february_27
no february_28
no february_29
no february_30
no february_31

I see we dont have march 29, but there indeed is no file on ieee. Rest makes sense

# Combine all tweet data

In [7]:
all_together = pd.DataFrame()
for file in sorted_dates_list:
    df = pd.read_csv(csv_dir+file, index_col=0)
    df = df[["date", "id", "tweet", "sentiment"]]
    all_together = pd.concat([all_together, df])
all_together = all_together.reset_index(drop=True)
# all_together.to_csv(data_dir+"all_tweets_sorted.csv")

In [8]:
all_together

,date,id,tweet,sentiment
0,march20_march21,1.240728e+18,Many ask us how they can support us during all...,0.136364
1,march20_march21,1.240728e+18,We wish that ceramic coating protected us from...,0.000000
2,march20_march21,1.240728e+18,I HATE this Koon @Byrdgangshoota ü§¶üèæ‚Äç‚ôÇÔ∏èüòÇ Nigga ...,0.275000
3,march20_march21,1.240729e+18,"Day 3.... Corona-0, QueRona-3! Workout complet...",0.000000
4,march20_march21,1.240729e+18,Staying busy. \n.\n.\n.\n.\n.\n.\n.\n.\n.\n.\n...,-0.137879
...,...,...,...,...
127123,january19_january20,1.351402e+18,A VERY WINDY DAY TODAY!! Our backyard umbrella...,0.000000
127124,january19_january20,1.351402e+18,Can you recommend anyone for this job? Pharmac...,-0.066667
127125,january19_january20,1.351403e+18,Tager my #minischnauzer was very interested in...,-0.087879
127126,january19_january20,1.351407e+18,What a magnificent view from DC. A night befor...,-0.100000
127127,january19_january20,1.351408e+18,CHANGE I CAN BELIEVE IN. #FortySix #PresidentB...,0.500000

In [9]:
months = ["march", "april", "may", "june", 
          "july", "august", "september", "october", "november", "december", "january", "february"] # from march (start dataset)
new_dates = all_together["date"].apply(lambda x: x.split("_")[0]) #only take first day
new_dates = new_dates.apply(lambda x: x+"_2020" if not x.startswith("jan") else x+"_2021") # add year
new_dates = list(new_dates) # make list
for i, date in enumerate(new_dates):
    for month in months: 
        l_month = len(month)
        if date.startswith(month):
            new_dates[i]=date[:l_month]+"_"+date[l_month:] #put a _ after the month
for i, date in enumerate(new_dates):
    zfilled = "_".join([date.split("_")[0], date.split("_")[1].zfill(2), date.split("_")[2]]) # split on _ and make the day zfilled (1 becomes 01)
    new_dates[i] = zfilled
new_dates = ["may_14_2020" if date == "may_14-may15_2020" else date for date in new_dates ]
all_together["date"] = new_dates

In [10]:
all_together["date"] = pd.to_datetime(all_together["date"], format="%B_%d_%Y")

In [11]:
all_together.head()

,date,id,tweet,sentiment
0,2020-03-20,1.240728e+18,Many ask us how they can support us during all...,0.136364
1,2020-03-20,1.240728e+18,We wish that ceramic coating protected us from...,0.000000
2,2020-03-20,1.240728e+18,I HATE this Koon @Byrdgangshoota ü§¶üèæ‚Äç‚ôÇÔ∏èüòÇ Nigga ...,0.275000
3,2020-03-20,1.240729e+18,"Day 3.... Corona-0, QueRona-3! Workout complet...",0.000000
4,2020-03-20,1.240729e+18,Staying busy. \n.\n.\n.\n.\n.\n.\n.\n.\n.\n.\n...,-0.137879

In [12]:
all_together.to_csv(data_dir+"all_tweets_sorted_fixed_date.csv")

In [13]:
all_together[all_together["date"]=="2020-09-20"]

,date,id,tweet,sentiment
96548,2020-09-20,1.307544e+18,One of the things I plan to do is to watch a m...,0.420833
96549,2020-09-20,1.307544e+18,Last Covid-19 Saturday of 2020...Masks in Revi...,0.300000
96550,2020-09-20,1.307545e+18,#Anniversary dinner at #ChartHouse. and all of...,0.420833
96551,2020-09-20,1.307546e+18,Premiere of #MyCorona (4 of 5): We had an onli...,0.266667
96552,2020-09-20,1.307550e+18,The last trip before the lockdown!\n\n#Pacific...,0.000000
...,...,...,...,...
96804,2020-09-20,1.307606e+18,Social distancing. 431/... - Drinking a Caught...,0.213068
96805,2020-09-20,1.307608e+18,Aged 32 days. It was bomb #biggreenegg @ Coron...,0.000000
96806,2020-09-20,1.307608e+18,"Virtually Shown, Digitally Marketed and SOLD O...",0.000000
96807,2020-09-20,1.307608e+18,Corona CA Sun Sep 20th PM Forecast: TONIGHT Mo...,0.125000
96808,2020-09-20,1.307609e+18,Gudnewz / Man Made Disease \n\nü¶†Man Made Disea...,0.000000